*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/core/data/build/
/core/database/build/
/core/datastore/build/
/core/domain/build/
/core/network/build/
/feature/announcement/build/
/feature/auth/build/
/feature/home/build/
/feature/settings/build/
/core/model/build/
